

.works-wrapper-box{

    padding-top: 195px;

}

.navi-tbs-title-flex {

    margin-bottom: 40px;

}



.works-wrapper-box .tabs-left {



    border-bottom: none;



    border-right: 1px solid #ddd;

    flex-direction: column;

}



.works-wrapper-box .tabs-left>li {

    float: none;

    padding: 0;

    margin-bottom: 20px;

}



.works-wrapper-box .tabs-left>li:last-child {

    margin-bottom: 0;

}



.tabs-left li a {

    border: none;

    font-weight: 500;

    font-size: 18px;

    line-height: 100%;

    color: #111827;



}



.tech-updates .owl-title-box {



    padding-bottom: 70px;



}







.works-wrapper-box .border-left-cus a.active {



    border-left: 6px solid #9b3493;



    border-top: none;



    border-right: none;



    padding: 10px 10px;



}



.works-wrapper-box .border-left-cus a {

    border: 0;



    border-left: 6px solid #e0e1e3;



    border-top: none;



    border-right: none;

    padding: 10px 10px;



}



.works-wrapper-box .nav-tabs .nav-link:focus,

.works-wrapper-box .nav-tabs .nav-link:hover {

    border-bottom: none;

}





.border-left-cus {

    position: relative;

}



.border-left-cus a.active:hover::after {

    width: 42px;

    transform: rotate(90deg);

}



.nav-tabs>li>a {



    border-radius: 0;



}



.nav>li>a {



    padding: 10px 20px;



}



.navi-tbs-section {

    display: flex;

}



/* works tabs  */

.works-tab-title h4.title-box {

    font-size: 20px;

    text-align: left;

}



.works-tab-title .head_bg_blue {

    text-align: left;

    margin: unset;

}



.f_about_us ul {

    margin: 20px 0;

}



.f_about_us li {

    font-size: 16px;

    font-weight: 500;

    display: flex;



}





.subscribe-tabs {

    margin-top: 30px;

}



/* slider css */



.latest-slider-box {

    margin-top: 40px;

}



.latest-slider-box .owl-nav button {

    position: absolute;

    top: 50%;

    background-color: #000;

    color: #fff;

    margin: 0;

    transition: all 0.3s ease-in-out;

}



.latest-slider-box .owl-nav button.owl-prev {

    left: 0;

}



.latest-slider-box .owl-nav {

    display: none;

}



.latest-slider-box .owl-nav button.owl-next {

    right: 0;

}



.latest-slider-box .owl-dots {

    text-align: center;

    padding-top: 15px;

}



.latest-slider-box .owl-dots button.owl-dot {

    width: 15px;

    height: 15px;

    border-radius: 50%;

    display: inline-block;

    background: #36011e;

    margin: 0 3px;

}



.latest-slider-box .owl-dots button.owl-dot.active {

    background-color: #9b3493;

}



.latest-slider-box .owl-dots button.owl-dot:focus {

    outline: none;

}



.latest-slider-box .owl-nav button {

    position: absolute;

    top: 44%;

    transform: translateY(-50%);

}



.latest-slider-box span {

    font-size: 70px;

    position: relative;

    top: -5px;

    color: #fff;

}



.latest-slider-box .owl-nav button:focus {

    outline: none;

}



.latest-card-box {

    padding: 40px;

    background: #9d3595e0;

    color: #fff;

    box-shadow: 5px 5px 13px rgb(97 23 80);

    border-radius: 8px;

}



.latest-slider-content-box {

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 25px;

}



.latest-btn-box {

    margin-top: 35px;

    text-align: center;

}



.latest-text-box p:before {

    content: "";

    background: url(../images/quote.svg);

    width: 60px;

    height: 60px;

    position: absolute;

    background-repeat: no-repeat;

    z-index: -1;

    background-size: cover;

    top: 10px;

    left: 20px;



}



.latest-icon img {

    width: 40px !important;

}



.owl-carousel .owl-stage-outer {

    height: unset;

}

.card-header{

    background: var(--background);

    padding: 10px;

}





.feq-btn-box{

    color: #fff;

    padding: 0;

    font-size: 16px;

    font-family: 'raleway-medium';

    display: flex;

    align-items: center;

    justify-content: space-between;

    width: 100%;

    transition: 0.6s;

}



.feq-btn-box:nth-child(1) svg.active{

    transform: rotate(180deg);

}

.btn-link:hover{

    color: #fff;

    text-decoration: none;

}

.feq-accordion{

    margin-top: 40px;

}

ul.feq-last-ans li{

    list-style: inside;

}

.latest-news-wrapper{

    padding-bottom: 60px;

}

.feq-wrapper-box {

    padding-top: 195px;

}

